appdirs==1.4.4
apt-clone==0.2.1
apturl==0.5.2
argcomplete==1.12.2
argon2-cffi==20.1.0
async-generator==1.10
attrs==23.1.0
autopep8==2.0.0
backcall==0.2.0
beautifulsoup4==4.8.2
black==20.8b1
bleach==3.2.1
blinker==1.4
boltons==21.0.0
bracex==2.3.post1
Brlapi==0.7.0
camelot-py==0.10.1
cattrs==23.1.2
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==8.1.7
click-option-group==0.5.6
colorama==0.4.3
command-not-found==0.3
configobj==5.0.6
coverage==5.4
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
dfply==0.3.3
distlib==0.3.1
distro==1.4.0
docopt==0.6.2
docstring-to-markdown==0.11
dotty-dict==1.3.0
entrypoints==0.3
epc==0.0.5
et-xmlfile==1.1.0
exceptiongroup==1.1.3
face==22.0.0
filelock==3.0.12
findspark==2.0.1
flake8==6.0.0
ghostscript==0.7
glom==22.1.0
greenlet==0.4.15
grpcio==1.16.1
hjson==3.0.2
html5lib==1.0.1
httplib2==0.14.0
idna==2.8
ifaddr==0.1.6
importlib-metadata==6.8.0
importlib-resources==6.0.1
iniconfig==1.0.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.10.1
jedi==0.17.2
Jinja2==2.11.2
joblib==1.1.0
json-rpc==1.13.0
json5==0.9.5
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab==2.2.8
jupyterlab-pygments==0.1.2
jupyterlab-server==1.2.0
keyring==18.0.1
kiwisolver==1.2.0
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
louis==3.12.0
lsprotocol==2023.0.0a3
lxml==4.5.0
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
markdown-it-py==3.0.0
MarkupSafe==1.1.0
matplotlib==3.3.2
mccabe==0.7.0
mdurl==0.1.2
metakernel==0.28.2
milc==1.1.0
mistune==0.8.4
msgpack==0.6.2
mypy-extensions==0.4.3
nbclient==0.5.0
nbconvert==6.0.7
nbformat==5.0.7
nemo-emblems==4.6.0
nest-asyncio==1.4.1
netifaces==0.10.4
nodeenv==1.7.0
nose==1.3.7
nose2==0.10.0
notebook==6.1.4
numpy==1.24.2
oauthlib==3.1.0
onboard==1.4.1
opencv-python==4.5.5.62
openpyxl==3.0.9
packaging==23.0
PAM==0.4.2
pandas==1.1.3
pandocfilters==1.4.2
parso==0.7.1
pathspec==0.8.0
patsy==0.5.3
pdfarranger==1.4.2
pdfminer.six==20211012
pdftopng==0.2.3
peewee==3.16.3
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
pikepdf==1.10.3+dfsg
Pillow==7.0.0
pipenv==2022.12.19
pipreqs==0.4.11
pkgutil_resolve_name==1.3.10
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.7
protobuf==3.6.1
psutil==5.5.1
ptyprocess==0.6.0
py==1.9.0
py4j==0.10.9.5
pycairo==1.16.2
pycodestyle==2.10.0
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.2
pyflakes==3.0.1
pygls==1.0.2
Pygments==2.16.1
PyGObject==3.36.0
PyICU==2.4.2
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pynvim==0.4.1
pyparsing==2.4.7
pyparted==3.11.2
PyPDF2==1.26.0
pyRFC3339==1.1
pyright==1.1.285
pyrsistent==0.17.3
pyspark==3.3.1
pytest==6.1.1
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.1
python-debian==0.1.36+ubuntu1.1
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.6.0
python-xapp==2.0.1
python-xlib==0.23
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
qmk==0.0.39
qtconsole==4.7.7
QtPy==1.9.0
referencing==0.30.2
regex==2020.9.27
reportlab==3.5.34
requests==2.22.0
requests-unixsocket==0.2.0
rich==13.5.2
rpds-py==0.9.2
rpy2==3.3.6
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.7
ruff==0.0.289
ruff-lsp==0.0.39
scikit-learn==1.0.2
scipy==1.10.0
seaborn==0.12.2
SecretStorage==2.3.1
semgrep==1.37.0
Send2Trash==1.5.0
service-factory==0.1.6
setproctitle==1.1.10
setuptools-scm==5.0.1
sexpdata==0.0.3
simplejson==3.16.0
six==1.14.0
soupsieve==1.9.5
spylon==0.3.0
spylon-kernel==0.4.1
statsmodels==0.13.5
systemd-python==234
tabula-py==2.3.0
tabulate==0.8.9
terminado==0.9.1
testpath==0.4.4
threadpoolctl==3.0.0
tinycss2==1.0.2
toml==0.10.1
tomli==2.0.1
tornado==6.0.4
traitlets==5.0.4
typed-ast==1.4.1
typeguard==3.0.2
typing_extensions==4.7.1
tzlocal==2.1
ubuntu-advantage-tools==8001
ubuntu-drivers-common==0.0.0
ufw==0.36
ujson==5.6.0
Unidecode==1.1.1
urllib3==1.26.16
virtualenv==20.0.33
virtualenv-clone==0.5.7
wadllib==1.3.3
wcmatch==8.4.1
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==3.5.1
xcrun==0.4
xkit==0.0.0
xlrd==1.2.0
yapf==0.30.0
yarg==0.1.9
zeroconf==0.24.4
zipp==3.16.2
